{% extends 'user/template-content.html.twig' %}
{% block title %}Historique{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{{ asset('CSS/historique.css') }}">

        <h2>Historique</h2>
        <div id="cadree">
            <table>
                <thead>
                <tr>
                    <th scope="col">Ville</th>

                    <th scope="col">Date début</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                    <tr>
                        {% if session.isStopped %}
                            <td><a href="{{ path('info_station', {'stationId': session.evse.station.id}) }}">{{ session.evse.station.city }}</a></td>

                            <td>{{ session.createdAt |date('d-m-y H:i', 'Europe/Paris')}}</td>
                            <td>{{ (session.getStopedAt.diff(session.getCreatedAt)).format("%H:%I:%S") }}</td>
                            <td>{{ session.getPrice() }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}
